<div class="slider-main">
  <div id="caroufredsel-slider-main" class="caroufredsel-slider">
    <ul class="sliders">
      <li class="slide-item">
        <img class="slide-image" alt="single1" src="{{site.theme.link}}/assets/images/slide-main.jpg">
      </li>
      <li class="slide-item">
        <img class="slide-image" alt="single1" src="{{site.theme.link}}/assets/images/slide-main.jpg">
      </li>
      <li class="slide-item">
        <img class="slide-image" alt="single1" src="{{site.theme.link}}/assets/images/slide-main.jpg">
      </li>
      <li class="slide-item">
        <img class="slide-image" alt="single1" src="{{site.theme.link}}/assets/images/slide-main.jpg">
      </li>
      <li class="slide-item">
        <img class="slide-image" alt="single1" src="{{site.theme.link}}/assets/images/slide-main.jpg">
      </li>
    </ul>
    <div class="clearfix"></div>
    <div class="slider-control-wrap">
      <div class="container">
        <div class="container-inner">
          <a id="caroufredsel-slider-main-prev" class="slider-control prev-btn" role="button" href="#">
            <img src="{{site.theme.link}}/assets/images/icon/icon-slider-prev.png" alt="icon-slider-prev">
          </a>
          <a id="caroufredsel-slider-main-next" class="slider-control next-btn" role="button" href="#">
            <img src="{{site.theme.link}}/assets/images/icon/icon-slider-next.png" alt="icon-slider-next">
          </a>
        </div>
      </div>
    </div>
    <div id="caroufredsel-slider-main-pagination" class="slider-indicators indicators-center-bottom"></div>
  </div>
</div>
